<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="caching" value="false"/>

    </appSettings>

    <connectionStrings>
      <add name="LydianNaturally"
           connectionString="data source=(local);Initial Catalog=LydianNaturally;User ID=llnAdmin;Password=naturally;"
           providerName="System.Data.SqlClient" />
    </connectionStrings>


</configuration>
